{% extends 'master.html' %}

{% block body %}

<p>
<h4>Examen: {{ exam.nombre }}</h4>
<p>
    Asignatura: {{ exam.asignatura }}
<br>    


{% for respuesta in respuestas  %}
    {{ respuesta }}
{% endfor %}

<br>Keys:
{% for key in keys  %}
    {{ key }}
{% endfor %}
<br>Values:
{% for value in values  %}
    {{ value }}
{% endfor %}


<br>
<form action="/examenes/{{ exam.asignatura }}/{{ exam.nombre }}/{{ exam.usuario }}" method="POST">
    {% for pregunta in exam.preguntas  %}
        <p>{{ loop.index }}.-  {{ pregunta.texto }}
            {% set num = loop.index %}
        <br>{% if pregunta.tipo == 0 %}
                <textarea name="pregunta{{ loop.index }}" rows="7" cols="60">
                {% if pregunta.respuesta %}
                    {{ pregunta.respuesta }}                
                {% endif %}
                </textarea>
                <br>
            {% elif pregunta.tipo == 1 %}
                {% for r in pregunta.opciones %}
                    {% if pregunta.respuesta == r.letra %}
                        <input type="radio" name="pregunta{{ num }}" value="{{ r.letra }}" checked>  {{ r.letra }}.- {{ r.texto }}
                        {% if r.letra == pregunta.correcta %}
                            Respuesta Correcta!!!                        
                        {% endif %}
                        <br>
                    {% else %}
                        <input type="radio" name="pregunta{{ num }}" value="{{ r.letra }}">  {{ r.letra }}.- {{ r.texto }}
                        <br>
                    {% endif %}
                {% endfor %}
            {% elif pregunta.tipo == 2 %}
                {% if pregunta.respuesta == "V" %}
                    <input type="radio" name="pregunta{{ num }}" value="V" checked>  Verdadera
                    <br>
                    <input type="radio" name="pregunta{{ num }}" value="F">  Falsa
                    {% if pregunta.verdadera %}
                    Correcta!!!
                    {% endif %}
                {% elif pregunta.respuesta == "F" %}
                    <input type="radio" name="pregunta{{ num }}" value="V">  Verdadera
                    <br>
                    <input type="radio" name="pregunta{{ num }}" value="F" checked>  Falsa
                    {% if not pregunta.verdadera %}
                    Correcta!!!
                    {% endif %}
                {% else %}
                    <input type="radio" name="pregunta{{ num }}" value="V">  Verdadera
                    <br>
                    <input type="radio" name="pregunta{{ num }}" value="F">  Falsa
                {% endif %}
                <br>
                <br><br>

            {% endif %}
    {% endfor %}
    <br>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
<br>
<p>
<hr>
<a class="btn btn-primary" href="{{ url_for('examenes_view') }}"><i class="icon-arrow-left icon-white"></i> Back</a>


{% endblock body %}