{% extends 'master.html' %}

{% block body %}

<p>
    <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true">         
        El Examen ha sido generado correctamente.
    </span>
    de modo {{ modo }}.
<p>
    Nombre: {{ nombre }}
<br>
    Asignatura: {{ asignatura }}
<br>    
    Tipo: {{ tipo }}
<br>
    Preguntas:
<br>
    {% for pregunta in preguntas  %}
        <p>{{ pregunta.texto }}
    {% endfor %}

<br>
<p>
<hr>
<a class="btn btn-primary" href="/genexa"><i class="icon-arrow-left icon-white"></i> Back</a>

{% endblock body %}