{% extends 'master.html' %}

{% block body %}

<p>
<h4>Examen: {{ exam.nombre }}</h4>
<p>
    Asignatura: {{ exam.asignatura }}
<br>    

<br>
<form action="/examenes/{{ exam.asignatura }}/{{ exam.nombre }}/{{ exam.usuario }}" method="POST">
    {% for pregunta in exam.preguntas  %}
        <p>{{ loop.index }}.-  {{ pregunta.texto }}
        <br>{% if pregunta.tipo == 0 %}
                <textarea name="resp" rows="7" cols="60">
                </textarea> 
            {% elif pregunta.tipo == 1 %}
                {% for r in pregunta.respuesta %}
                <input type="radio" name="{{ pregunta.num }}" value="{{ r.letra }}">  {{ r.letra }}.- {{ r.texto }}
                <br>
                {% endfor %}
            {% elif pregunta.tipo == 2 %}
                <input type="radio" name="{{ pregunta.num }}" value="V">  Verdadera
                <br>
                <input type="radio" name="{{ pregunta.num }}" value="F">  Falsa
                <br><br>

            {% endif %}
    {% endfor %}
    <button class="btn btn-success" type="submit">Submit</button>
</form>
<br>
<p>
<hr>
<a class="btn btn-primary" href="{{ url_for('examenes_view') }}"><i class="icon-arrow-left icon-white"></i> Back</a>


{% endblock body %}