{% extends 'master.html' %}

{% block body %}

<p>
<h4>Examen: {{ exam.nombre }}</h4>
<p>
    Asignatura: {{ exam.asignatura }}
<br>    

<br>
<form action="/examenes/{{ exam.asignatura }}/{{ exam.nombre }}/{{ exam.usuario }}" method="POST">
    {% for pregunta in exam.preguntas  %}
        <p>{{ loop.index }}.-  {{ pregunta.texto }}
            {% set num = loop.index %}
            
        <br>{% if pregunta.tipo == 0 %}
                <textarea name="pregunta{{ loop.index }}" rows="7" cols="60">
                {% if pregunta.respuesta %}
                    {{ pregunta.respuesta }}                
                {% endif %}
                </textarea>
                <br>

            {% elif pregunta.tipo == 1 %}
                {% for r in pregunta.opciones | sort(attribute='letra') %}
                    {% if pregunta.respuesta == r.letra %}
                        <input type="radio" name="pregunta{{ num }}" value="{{ r.letra }}" checked>  {{ r.letra }}.- {{ r.texto }}
                    {% else %}
                        <input type="radio" name="pregunta{{ num }}" value="{{ r.letra }}">  {{ r.letra }}.- {{ r.texto }}
                    {% endif %}
                    <br>
                {% endfor %}
                {% if pregunta.respuesta == pregunta.correcta %}
                    <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"> La respuesta es correcta </span>
                    <br>
                {% elif respuestas %}                
                    <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"> La respuesta no es correcta </span>
                    <br>
                {% endif %}

            {% elif pregunta.tipo == 2 %}
                {% if pregunta.respuesta == "V" %}
                    <input type="radio" name="pregunta{{ num }}" value="V" checked>  Verdadera
                    <br>
                    <input type="radio" name="pregunta{{ num }}" value="F">  Falsa
                    {% if pregunta.verdadera %}
                        {% set correcta = true %}
                    {% else %}
                        {% set correcta = false %}
                    {% endif %}
                {% elif pregunta.respuesta == "F" %}
                    <input type="radio" name="pregunta{{ num }}" value="V">  Verdadera
                    <br>
                    <input type="radio" name="pregunta{{ num }}" value="F" checked>  Falsa
                    {% if not pregunta.verdadera %}
                        {% set correcta = true %}
                    {% else %}
                        {% set correcta = false %}
                    {% endif %}
                {% else %}
                    {% set correcta = false %}
                    <input type="radio" name="pregunta{{ num }}" value="V" cheked>  Verdadera
                    <br>
                    <input type="radio" name="pregunta{{ num }}" value="F">  Falsa
                {% endif %}
                {% if correcta and respuestas %}
                    <br><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"> Respuesta correcta </span>
                {% elif respuestas %}
                    <br><span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"> Respuesta incorrecta </span>
                {% endif %}
            {% endif %}
            <br>
    {% endfor %}
    <br>
    <button class="btn btn-success" type="submit">Corregir</button>
</form>
<br>
<p>
<hr>
<a class="btn btn-primary" href="{{ url_for('examenes_view') }}"><i class="icon-arrow-left icon-white"></i> Back</a>


{% endblock body %}