{% extends 'master.html' %}

{% block panel %}              
    <li><a href="{{ url_for('admin.index') }}">Admin Panel</a></li>
{% endblock panel %}

{% block body %}
<br><br>
<form action="respond" method="GET">

  <div class="container">
    <h4>Exámenes disponibles</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Examen</th>
          <th>Asignatura</th>
          <th>Profesor</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        {% for ex in exams %}
            <tr>
              <td>{{ ex.nombre }}</td>
              <td>{{ ex.asignatura }}</td>
              <td>{{ ex.usuario.get_nombre_ape() }}</td>
              <td>{{ ex.tipo }}</td>
              <td><input type="submit" formaction="/examenes/{{ ex.asignatura }}/{{ ex.nombre }}/{{ ex.usuario }}"  method="POST" value="Ver"></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<br><br>
</form>
<br><br>
<a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
{% endblock body %}