{% extends 'master.html' %}

{% block body %}

    <div class="container">
        <div class="row"> 
        {% block menu %}
            {{ super() }}
        {% endblock menu %}

            <div class="col-md-10">
                <div class="page-header">
                    <h2>Acerca de...</h2>
                </div>
                <p>

                Esta aplicación ha sido realizada como trabajo fin de carrera de Ingeniería Informática de la UNED,
                por Luis Fernando Pérez Serna.
                <br>Se enmarca dentro del ámbito educativo como una <b>herramienta de autoría</b> 
                para facilitar el trabajo de evaluación a los profesores,
                <br>generando exámenes de forma automática y que los alumnos puedan a su vez
                realizarlos on-line de manera interactiva.
            </div>
        </div>
    </div>

{% endblock body %}