{% extends 'master.html' %}

{% block body %}

    <div class="container">
        <div class="row"> 
        {% block menu %}
            {{ super() }}
        {% endblock menu %}

            <div class="col-md-10">
                <div class="page-header">
                    <h2>Datos de contacto</h2>
                </div>
                <p>
                Esta aplicación web ha sido realizada como Proyecto Fin
                de Carrera para la obtención de un título de ingeniero en 
                Informática de la UNED por Luis Fernando Pérez Serna. El asesor 
                de este proyecto ha sido el profesor Antonio Robles Gómez por la UNED.

                <p>Para ponerte en contacto con el autor de este trabajo puedes enviar un correo a la siguiente dirección:
                <br>
                <a href="mailto:lperez120@alumno.uned.es">lperez120@alumno.uned.es<i class="icon-white icon-envelope"></i> </a>
                <br><br>
            </div>
        </div>
    </div>
{% endblock body %}
