{% extends 'master.html' %}

{% block body %}

<p>Con este asistente es posible generar exámenes automáticamente con las preguntas grabadas en la base de datos; 
siempre y cuando existan suficientes preguntas para generar dicho examen.
<p>
La forma de generar los examenes puede ser:
<br>- De modo aleatorio, en el que se eligen las preguntas al azar.
<br>- En modo preguntas por tema, en el que se escogen las preguntas equitativamente entre los temas.
<br><br>
<form action="genexa" method="POST">
{{ form.hidden_tag() if form.hidden_tag }}

{% for field in form if field.type != 'CSRFTokenField' %}
   <p>
    {{field.label}} {{ form.value }} {{ field }}
            {% if field.errors %}
            <ul>
                {% for e in field.errors %}
                <li>
                    <div class="alert alert-danger" role="alert">{{ e }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

{% endfor %}
<br><br>
<button class="btn btn-success" type="submit">Submit</button>
</form>
<br><br>
<a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
{% endblock body %}