{% extends 'master.html' %}

{% block panel %}              
    <li><a href="{{ url_for('admin.index') }}">Admin Panel</a></li>
{% endblock panel %}

{% block body %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Bienvenido a EducaWeb!</h1>
        <p>EducaWeb es un aplicación destinada a su uso por profesores y alumnos.
    Los profesores podrán crear examenes y ponerlos a disposición de los 
alumnos para que éstos puedan resolverlos.
      </div>

        <div>
            {% if current_user.is_authenticated() %}            
                Hola {{ current_user.login }}! 
                <br>
                
                <p align=right><a href="{{ url_for('logout_view') }}">Logout</a>
 
            {% else %}
            <p>
                <a href="{{ url_for('admin.login_view') }}">Entrar como usuario registrado</a>&nbsp;
            </p>
            <p>
                <a href="{{ url_for('admin.register_view') }}">Registrarse como nuevo usuario</a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock body %}