{% extends 'master.html' %}

{% block body %}

    <div class="container">
        <div class="row"> 

        {% block menu %}
            {{ super() }}
        {% endblock menu %}

            <div class="col-md-10">
                <div class="page-header">
                    <h2>Mi cuenta de usuario</h2>
                </div>

                <h5>Perfil del usuario: <strong>{{ user.usuario }}</strong></h5>
                <h5>Asignaturas: <strong>
                {% for asig in user.asignaturas %}
                      {{ asig.asignatura }}, 
                {% endfor %}
                </strong></h5>
                <br>

                {% if save %}
                    <div class="alert alert-success" role="alert">Su perfil de usuario se ha modificado correctamente</div>
                {% endif %}

                <form action="{{ url_for('cuenta_view') }}" method="POST">
                    <input type="hidden" name="usuario" value="{{ user.usuario }}">
                        {% for e in form.usuario.errors %}
                            <div class="alert alert-danger" role="alert"><li>{{ e }}</li></div>
                        {% endfor %}
                    Nombre<br>
                    <input type="text" name="nombre" value="{{ user.nombre }}"  maxlength="40"><br><br>
                        {% for e in form.nombre.errors %}
                            <div class="alert alert-danger" role="alert"><li>{{ e }}</li></div>
                        {% endfor %}
                
                    Apellidos<br>
                    <input type="text" name="apellidos" value="{{ user.apellidos }}"><br><br>
                        {% for e in form.apellidos.errors %}
                            <div class="alert alert-danger" role="alert"><li>{{ e }}</li></div>
                        {% endfor %}
                
                    Email<br>
                    <input type="text" name="email" value="{{ user.email }}"><br><br>
                        {% for e in form.email.errors %}
                            <div class="alert alert-danger" role="alert"><li>{{ e }}</li></div>
                        {% endfor %}
                   
                    Nueva contraseña<br>
                    <input type="password" name="password" value="{{ user.password }}"><br><br>
                        {% for e in form.password.errors %}
                            <div class="alert alert-danger" role="alert"><li>{{ e }}</li></div>
                        {% endfor %}
                
                    Repita la contraseña<br>
                    <input type="password" name="confirm" value="{{ user.password }}"><br><br>
                
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>                                 
                <br>
                <br>

            </div>
        </div>
    </div>
{% endblock body %}