{% extends 'master.html' %}

{% block panel %}
{% endblock panel %}

{% block body %}
    <div class="container">
        <div class="row"> 
            <div class="col-md-2" role="navigation" style="background-color:lavender;">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#">Menú</a></li>
                  {% if current_user.is_authenticated() %}
                    {% if current_user.is_activado() %}            
                        {% for item in admin_view.admin.menu() %}
                            {% if item.is_accessible() and item.is_visible() and item.name != "Home"  %}
                                <li><a href="{{ item.get_url() }}">{{ item.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                      <li><a href="{{ url_for('cuenta_view') }}">Perfil de usuario</a></li>
                    {% endif %}
                  {% else %}
                      <li><a href="{{ url_for('admin.login_view') }}">Entrar a la aplicación</a></li>
                      <li><a href="{{ url_for('admin.register_view') }}">Registrar nuevo usuario</a></li>
                  {% endif %}
                  <li><a href="{{ url_for('contact_view') }}">Datos de Contacto</a></li>
                  <li><a href="{{ url_for('about_view') }}">Acerca de..</a></li>
                </ul>
            </div>

            <div class="col-md-10">
                {% if current_user.is_authenticated() %}            
                    {% if current_user.is_activado() %}
                        <!-- Main jumbotron for a primary marketing message or call to action -->
                        <div class="jumbotron">
                            <h3>Panel de Administración</h3>
                            <p>En esta parte podrá gestionar los principales datos de la aplicación.
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <p>Su usuario no ha sido activado aún. Debe esperar a que el administrador le de permisos para 
                            acceder a la aplicación.</p>
                        </div>
                    {% endif %}
            
                {% else %}
                    <div align="center">
                    <form method="POST" action="">
                        <fieldset>
                        <div class="page-header">
                            <h2>{{ legend | safe }}:</h2>
                        </div>
                        {{ form.hidden_tag() if form.hidden_tag }}
            
                        {% for f in form if f.type != 'CSRFTokenField' %}
                        <div>
                        {{ f.label }}
                        {{ f }}
                        {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                            <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        </div>
                        {% endfor %}
                        <br>
                        <button class="btn btn-success" type="submit">Submit</button>
                        </fieldset>
                    </form>          
                    <hr>  
                    {{ link | safe }}
                    {{ link2 | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}